{% extends 'main.html' %}

{% load static %}
{% load widget_tweaks %}

{% block content %}

<style>
  #containerLogin{
    width: 700px;
    min-height: 500px !important;
    margin-bottom: 100px !important;
  }
  .titleTagLogin{
    text-align: center;
    top: 10% !important;
  }
</style>

    <div id="login" class="boxSizeLogin">
      <div class="bodyStyleLogin">
        <div class="wrapperLogin" id="containerLogin">
          <div class="form-containerLogin forget-password">
            <form class="loginForm" action="" method="POST">
              {% csrf_token %}
              <div style="opacity:0.7;" class="titleTagLogin ">Your passowrd has been changed successfully!</div>
              <div style="margin-top: 100px !important; width: 300px !important;" class="buttonCar">
                <a href="{% url 'login'  %}" class="btn btn-sm animated-button thar-three">Now you can sign in</a>
              </div> 
            </form>
          </div>

        </div>
      </div>
    </div>



{% endblock %}
