{% extends 'main.html' %}

{% load static %}
{% load widget_tweaks %}

{% block content %}

<style>
  #containerLogin{
    width: 700px;
    min-height: 500px !important;
    margin-bottom: 100px !important;
  }
  .titleTagLogin{
    text-align: center;
    top: 10% !important;
  }
</style>

    <div id="login" class="boxSizeLogin">
      <div class="bodyStyleLogin">
        <div class="wrapperLogin" id="containerLogin">
          <div class="form-containerLogin forget-password">
            <form class="loginForm" action="" method="POST">
              {% csrf_token %}
              <div style="opacity:0.7;" class="titleTagLogin ">Set a new passowrd</div>
                {% render_field form.new_password1 class="inpLogin" placeholder=form.new_password1.label %}
                {% if form.new_password1.errors %}
                    <span class="text-danger">{% for error in form.new_password1.errors %}{{ error }}{% endfor %}</span>
                {% endif %}
                {% render_field form.new_password2 class="inpLogin" placeholder=form.new_password2.label %}
                {% if form.new_password2.errors %}
                    <span class="text-danger">{% for error in form.new_password2.errors %}{{ error }}{% endfor %}</span>
                {% endif %}
              <div class="buttonPosLogin">
              <button  class="btnLogin" type="submit"  name='submit' value='sign_in'>&nbsp;&nbsp; Submit &nbsp;&nbsp; </button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>



{% endblock %}
