{% load static %}
<div class="sizeUs">
    <div class="container" id='faqs'>
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="faqUs">
                    faq
                </div>
                <div class="faqTextUs">
                    what do you need to know
                </div>

                <div class="row">

                    <div class="col-md-12 col-sm-12 clickFaq">
                        <div class="questionUs">
                            <div class="numberUs ">1</div>
                            <div class="textUs">What do I need to rent a car?</div>
                            <i class="fas fa-arrow-circle-down .displayFaq arrowsUS"></i>

                        </div>
                        <div class="faqTextAnswer open">
                            To rent a car on DriveToday you must have an account fisrt. Then each person who intends to
                            drive must have a valid driver's license and a valid means of payment (generally via credit
                            cash). All of these items must be submitted on the day the car will be picked up.
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 clickFaq">
                        <div class="questionUs">
                            <div class="numberUs ">2</div>
                            <div class="textUs">Can I rent a car without a reservation?</div>
                            <i class="fas fa-arrow-circle-down .displayFaq arrowsUS"></i>
                        </div>
                        <div class="faqTextAnswer open">
                            Yes, as long as a vehicle is available in the station; however, we recommend making a
                            reservation because no vehicle may be available during busy periods. 
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 clickFaq">
                        <div class="questionUs">
                            <div class="numberUs ">3</div>
                            <div class="textUs">What is needed to create an account?</div>
                            <i class="fas fa-arrow-circle-down .displayFaq arrowsUS"></i>

                        </div>
                        <div class="faqTextAnswer open">
                            It depends on what kind of account you are intending to create. In case it is personal
                            account you have to fill you name, surname and email. To create a compant you will be asked
                            some more information about your comapny.
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 clickFaq">
                        <div class="questionUs">
                            <div class="numberUs ">4</div>
                            <div class="textUs">How long does it take to get a verification for a compnay user?</div>
                            <i class="fas fa-arrow-circle-down .displayFaq arrowsUS"></i>
                            
                        </div>
                        <div class="faqTextAnswer open">
                            To be a verified compant user you must provide correct and legit information that is asked.
                            After that it may take 4-24 hours to get verification by our customer service.
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-12">
                <div class="placeholderPicFaq">
                    
                        <img style="margin-top: 120px !important;" class="pictUsFaq" src="{% static 'images/logo/logo_01.jpg'  %}">  
                    

                </div>
            </div>
        </div>
        <div style="margin-bottom: 150px !important; margin-top: 20px !important;" class="row">
            <div class="col-md-12">
                <div class="aboutUsTitle">
                    Why Us
                </div>
                <div class="aboutUsText">
                    To the company, sustainability means creating value for all stakeholders on a lasting basis: customers, employees, investors, business partners and the society as a whole. The basis for this is the sustainable business strategy of Daimler in which the company takes responsibility for the economic, ecological and social effects of its business activities and looks at the entire value chain.
                </div>
            </div>
         
        </div>
    </div>




</div>
